@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');

:root {
  --container_width: 980px;
  --gray-main: #777777;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

header {
  height: 199px;
  display: flex;
  justify-content: center;
  background-color: #dcdcdc;
  color: var(--gray-main);
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: var(--container_width);
  margin: 37px 10px 49px;
}

.header__company {
  display: flex;
  gap: 22px;
}

.header__logo {
  width: 102px;
  height: 100px;
}

.header__company-name {
  font-size: 25px;
  line-height: 35px;
  font-weight: 800;
}

.header__company-description {
  margin-top: 5px;
}

.header__sale {
  font-size: 17px;
  line-height: 22px;
  margin-top: 15px;
}

.header__phone {
  font-size: 31px;
  line-height: 46px;
  font-weight: 800;
}

menu {
  height: 58px;
  background-color: var(--gray-main);
  display: flex;
  justify-content: center;
}

.menu__container {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}

.menu__item {
  padding: 0 15px;
  color: white;
  border-right: 1px solid white;
  font-size: 18px;
}

.menu__item:last-child {
  border-right: none;
}

.menu__item:hover {
  cursor: pointer;
  text-decoration: underline;
}

slider {
  display: block;
  height: 396px;
  background-image: url('./img/slider.jpg');
  background-size: cover;
  background-position: center;
}

content {
  display: flex;
  justify-content: center;
}

.content__container {
  margin-top: 44px;
  min-width: var(--container_width);
  display: flex;
  justify-content: space-between;
  gap: 53px;
}

.content__aside {
  max-width: 340px;
  width: 100%;
  color: white;
  background-color: var(--gray-main);
  padding: 16px 31px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__aside h2 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 600;
}

.aside__date {
  font-style: italic;
}

.aside_link {
  color: white;
  align-self: flex-end;
  margin: 47px 25px 19px 0;
}

footer {
  height: 212px;
}
